<a href="https://colab.research.google.com/github/LilySu/AR.js/blob/master/Lily_Su_Assignment12_LS_DS3_141_Statistics_Probability_and_Inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
congressional_Voting_R = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')
congressional_Voting_R.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [4]:
congressional_V = congressional_Voting_R.replace('?', np.nan)
congressional = congressional_V.dropna()
congressional.head(3)

    republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
4     democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y
7   republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   y
18    democrat  y  y   y   n   n   n   y   y   y   n  y   n   n   n   y   y

In [5]:
congressional.shape

(232, 17)

In [6]:
con = congressional.replace({'n': 0, 'y': 1})
con.head(3)

,republican,n,y,n.1,y.1,y.2,y.3,n.2,n.3,n.4,y.4,?,y.5,y.6,y.7,n.5,y.8
4,democrat,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
7,republican,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
18,democrat,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1

In [7]:
con.columns = ['party','handicapped-infants','water-project-cost-sharing','adoption-of-the-budget-resolution','physician-fee-freeze','el-salvador-aid', 'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras','mx-missile', 'immigration','synfuels-corporation-cutback','education-spending','superfund-right-to-sue', 'crime', 'duty-free-exports', 'export-administration-act-south-africa']
con.head(3)

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
4,democrat,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
7,republican,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
18,democrat,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1

In [8]:
issues_by_party = con.groupby(['party']).mean()
issues_by_party = issues_by_party.T
issues_by_party.head(3)

party                              democrat  republican
handicapped-infants                0.588710    0.212963
water-project-cost-sharing         0.451613    0.472222
adoption-of-the-budget-resolution  0.854839    0.157407

In [9]:
issues_by_party['divide'] = issues_by_party['democrat'] - issues_by_party['republican']
issues_by_party.head(3)

party                              democrat  republican    divide
handicapped-infants                0.588710    0.212963  0.375747
water-project-cost-sharing         0.451613    0.472222 -0.020609
adoption-of-the-budget-resolution  0.854839    0.157407  0.697431

In [10]:
issues_by_party.sort_values(by = ['divide'], ascending=False)

party                                   democrat  republican    divide
adoption-of-the-budget-resolution       0.854839    0.157407  0.697431
aid-to-nicaraguan-contras               0.830645    0.148148  0.682497
mx-missile                              0.790323    0.138889  0.651434
anti-satellite-test-ban                 0.766129    0.268519  0.497611
duty-free-exports                       0.596774    0.111111  0.485663
handicapped-infants                     0.588710    0.212963  0.375747
synfuels-corporation-cutback            0.508065    0.157407  0.350657
export-administration-act-south-africa  0.943548    0.666667  0.276882
water-project-cost-sharing              0.451613    0.472222 -0.020609
immigration                             0.532258    0.574074 -0.041816
religious-groups-in-schools             0.443548    0.870370 -0.426822
superfund-right-to-sue                  0.290323    0.842593 -0.552270
crime                                   0.346774    0.981481 -0.634707
education-spending                      0.129032    0.851852 -0.722820
el-salvador-aid                         0.201613    0.953704 -0.752091
physician-fee-freeze                    0.048387    0.990741 -0.942354

In [11]:
dem = con[con['party']=='democrat']
rep = con[con['party']=='republican']
dem.shape, rep.shape

((124, 17), (108, 17))

In [12]:
dem_f = dem.iloc[0:50]
rep_f = rep.iloc[0:50]
dem_f.shape, rep_f.shape

((50, 17), (50, 17))

In [0]:
import scipy
from scipy.stats import ttest_ind
from statsmodels.stats.weightstats import ttest_ind

# 2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [17]:
#physician-fee-freeze republicans vs democrats
scipy.stats.ttest_ind(rep_f['physician-fee-freeze'], dem_f['physician-fee-freeze'])

Ttest_indResult(statistic=34.29285639896449, pvalue=2.182804096521174e-56)

# 3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

In [19]:
#adoption-of-the-budget-resolution republicans
scipy.stats.ttest_ind(rep_f['adoption-of-the-budget-resolution'],dem_f['adoption-of-the-budget-resolution'])

Ttest_indResult(statistic=-10.287856919689348, pvalue=2.8740970452997265e-17)

#4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

In [20]:
#watersharedem democrats
scipy.stats.ttest_ind(rep_f['water-project-cost-sharing'], dem_f['water-project-cost-sharing'])

Ttest_indResult(statistic=1.6098868088129927, pvalue=0.11063916981957503)